model_list:
  # The AWS ID or ARN of an inference profile that contains this model   
  - model_name: bedrock-claude-4.1-opus
    litellm_params:
      model: us.anthropic.claude-opus-4-1-20250805-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_session_token: os.environ/AWS_SESSION_TOKEN
      aws_region_name: us-east-1
  - model_name: bedrock-claude-4.5-sonnet
    litellm_params:
      model: us.anthropic.claude-sonnet-4-5-20250929-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_session_token: os.environ/AWS_SESSION_TOKEN
      aws_region_name: us-east-1        
  - model_name: bedrock-claude-4-sonnet
    litellm_params:
      model: us.anthropic.claude-sonnet-4-20250514-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_session_token: os.environ/AWS_SESSION_TOKEN
      aws_region_name: us-east-1  

  - model_name: claude-sonnet-4
    litellm_params:
      model: claude-sonnet-4-20250514
      api_key: os.environ/ANTHROPIC_API_KEY
  - model_name: claude-3.7-sonnet
    litellm_params:
      model: claude-3-7-sonnet-latest
      api_key: os.environ/ANTHROPIC_API_KEY
  - model_name: claude-3.5-sonnet
    litellm_params:
      model: claude-3-5-sonnet-latest
      api_key: os.environ/ANTHROPIC_API_KEY
  - model_name: claude-3.5-haiku
    litellm_params:
      model: claude-3-5-haiku-latest
      api_key: os.environ/ANTHROPIC_API_KEY  

  # GitHub Copilot Available Models (2025.06.19)
  # - gpt-3.5-turbo
  # - gpt-3.5-turbo-0613
  # - gpt-4o-mini
  # - gpt-4o-mini-2024-07-18
  # - gpt-4
  # - gpt-4-0613
  # - gpt-4-0125-preview
  # - gpt-4o
  # - gpt-4o-2024-11-20
  # - gpt-4o-2024-05-13
  # - gpt-4-o-preview
  # - gpt-4o-2024-08-06
  # - o1
  # - o1-2024-12-17
  # - o3-mini
  # - o3-mini-2025-01-31
  # - o3-mini-paygo
  # - gpt-4o-copilot
  # - text-embedding-ada-002
  # - text-embedding-3-small
  # - text-embedding-3-small-inference
  # - claude-3.5-sonnet
  # - claude-3.7-sonnet
  # - claude-3.7-sonnet-thought
  # - claude-sonnet-4
  # - gemini-2.0-flash-001
  # - gemini-2.5-pro
  # - gemini-2.5-pro-preview-05-06
  # - gemini-2.5-pro-preview-06-05
  # - o4-mini
  # - o4-mini-2025-04-16
  # - gpt-4.1
  # - gpt-4.1-2025-04-14
  - model_name: github-copilot-claude-sonnet-4.5
    litellm_params:
      model: github_copilot/claude-sonnet-4.5
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }
  - model_name: github-copilot-claude-sonnet-4
    litellm_params:
      model: github_copilot/claude-sonnet-4
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }
  - model_name: github-copilot-claude-3.7-sonnet-thought
    litellm_params:
      model: github_copilot/claude-3.7-sonnet-thought
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }        
  - model_name: github-copilot-claude-3.7-sonnet
    litellm_params:
      model: github_copilot/claude-3.7-sonnet
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }
  - model_name: github-copilot-claude-3.5-sonnet
    litellm_params:
      model: github_copilot/claude-3.5-sonnet
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }
  - model_name: github-copilot-o3-mini
    litellm_params:
      model: github_copilot/o3-mini
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }
  - model_name: github-copilot-gpt-5-codex
    litellm_params:
      model: github_copilot/gpt-5-codex
      extra_headers:
        {
          "editor-version": "vscode/1.104.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }          
  - model_name: github-copilot-gpt-5
    litellm_params:
      model: github_copilot/gpt-5
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }          
  - model_name: github-copilot-gpt-5-mini
    litellm_params:
      model: github_copilot/gpt-5-mini
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }                    
  - model_name: github-copilot-gpt-4.1
    litellm_params:
      model: github_copilot/gpt-4.1
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }        
  - model_name: github-copilot-gemini-2.5-pro
    litellm_params:
      model: github_copilot/gemini-2.5-pro
      extra_headers:
        {
          "editor-version": "vscode/1.85.1",
          "editor-plugin-version": "copilot/1.155.0",
          "Copilot-Integration-Id": "vscode-chat",
          "user-agent": "GithubCopilot/1.155.0"
        }

  - model_name: github-gpt-4o-mini
    litellm_params:
      model: github/gpt-4o-mini
      # GitHub Personal Access Token
      api_key: os.environ/GITHUB_API_KEY

  - model_name: gemini-2.5-pro
    litellm_params:
      model: gemini/gemini-2.5-pro
      api_key: os.environ/GEMINI_API_KEY
  - model_name: gemini-2.5-flash
    litellm_params:
      model: gemini/gemini-2.5-flash
      api_key: os.environ/GEMINI_API_KEY  

  - model_name: openrouter-deepseek-r1-0528
    litellm_params:
      model: openrouter/deepseek/deepseek-r1-0528:free
      api_key: os.environ/OPENROUTER_API_KEY
  - model_name: openrouter-qwen3-235b-a22b
    litellm_params:
      model: openrouter/qwen/qwen3-235b-a22b:free
      api_key: os.environ/OPENROUTER_API_KEY
  - model_name: openrouter-qwen3-coder
    litellm_params:
      model: openrouter/qwen/qwen3-coder:free
      api_key: os.environ/OPENROUTER_API_KEY      
  - model_name: openrouter-kimi-k2
    litellm_params:
      model: openrouter/moonshotai/kimi-k2:free
      api_key: os.environ/OPENROUTER_API_KEY
  - model_name: openrouter-glm-4.5-air
    litellm_params:
      model: openrouter/z-ai/glm-4.5-air:free
      api_key: os.environ/OPENROUTER_API_KEY

  - model_name: groq-llama-3.3-70b
    litellm_params:
      model: groq/llama-3.3-70b-versatile
      api_key: os.environ/GROQ_API_KEY
